#About {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container {
  min-height:1000px;
  width:100%;
  max-width:80%;
  background-color: white;
  margin-top: 5%;
  box-shadow:10px 10px 20px #babecc,-10px -10px 20px #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.first-half {
  width: 100%;
  max-width: 700px;
  flex-direction: column;
}

.first-half img {
  height:380px;
  width: 100%;
  max-width: 380px;
  margin-top:100px;
  margin-left: 100px;
  display: inline-block;
  box-shadow: 0 0px 5px 5px #1179c4;
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.skills{
  height: 600px;
  width: 100%;
  max-width: 600px;
  margin-top: 0px;
  margin-left: 120px;
}
.skills h1{
  font-size: 44px;
  margin-left: 10px;
  margin-top: 20px;
}
.skill{
  height: 50px;
  width: 500px;
  margin-top: 40px;
  padding: 10px;
  font-weight: 1000;

}
.html{
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 80%, rgb(95, 209, 249) 100.5%);;
  height: 30px;
  width:100%;
  max-width: 500px;
  border-radius: 15px;

}
.css{
  background: radial-gradient(circle at 12.3% 20%, rgb(85, 88, 218) 60%, rgb(95, 209, 249) 100.5%);;
  height: 30px;
  width:100%;
  max-width: 500px;
  border-radius: 15px;
}
.java{
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 40%, rgb(95, 209, 249) 100.5%);;
  height: 30px;
  width:100%;
  max-width: 500px;
  border-radius: 15px;
}
.react{
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 25%, rgb(95, 209, 249) 100.5%);;
  height: 30px;
  width:100%;
  max-width: 500px;
  border-radius: 15px;
  
}
.second-half{
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}
.second-half h1{
 margin-top: 60px;
 font-size: 44px;
}
.second-half p {
  font-size: 25px;
  margin-top: 50px;
  width: 550px;
  font-weight: 300;
}
.blue-line1{
  height: 8px;
  width: 182px;
  border-radius: 5px;
  background-color: #1179c4;
  margin-top: 10px;
  
}
